<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">FoneDynamics</a>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
         
          <li class="nav-item">
            <a class="nav-link text-dark" (click)="logout()">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
